@use '../variables' as vars;

.leagues-container,
.tournament-list,
.selected-league-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  > *:not(style) {
    flex: 1 1 50%;
    aspect-ratio: 1.5;
  }

  button {
    all: unset;
  }

  .league-item,
  .league-icon,
  .tournament-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    aspect-ratio: 1/1;

    &:hover {
      background-color: vars.$dark-main-color;
      cursor: pointer;
    }
  }
}

.react-ripples {
  width: 100% !important;
}

.event-heading {
  font-size: 3rem;
  padding: 3rem 0 0.3rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
    background-color: white;
}
}

.selected-league-container {
  width: 100%;
}
