/* stylelint-disable at-rule-no-unknown */
@use '../../assets//variables' as vars;

nav {
  display: flex;
  padding: 3rem 0.2rem;
  font-size: 1.3rem;
  background-color: vars.$navigation-color;
  justify-content: space-around;
  box-shadow: 0 0 20px 0 black;
  z-index: 2;
  align-items: baseline;

  button {
    all: unset;
  }

  .current {
    min-width: 110px;
    text-align: center;
  }

  .mic-settings {
    display: flex;
    gap: 0.5rem;
  }
}

.tournaments-count {
  margin-left: -5rem;
  font-size: 1.125rem;
}
