@use '../../variables' as vars;

nav {
  display: flex;
  padding: 3rem 0.2rem;
  font-size: 1.3rem;
  background-color: vars.$navigation-color;
  justify-content: space-around;

  .current {
    min-width: 110px;
  }

  .mic-settings {
    display: flex;
    gap: 0.5rem;
  }
}
