/* stylelint-disable at-rule-no-unknown */
@use '../../../assets/variables'as vars;

.categories-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  button {
    all: unset;
  }

  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    position: relative;
    flex: 1 1 50%;
    aspect-ratio: 1/1;

    >*:not(style) {
      flex: 1 1 50%;
    }

    &:hover {
      background-color: vars.$dark-main-color;
      cursor: pointer;
    }

    .category-button {
      all: unset;
      width: 100%;
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    .category-logo {
      font-size: 4.4rem;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .category-image {
        width: 100%;
        height: 100%;
      }
    }

    .category-name {
      font-weight: 600;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
      padding: 0 1rem;
      margin-top: auto;
      font-size: 2rem;
    }

    .category-data {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 40;
      position: absolute;
    }

    .events-count {
      font-size: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .category-logo {
    font-size: 10rem !important;
  }
}
