/* COLOURS */

$navigation-color: rgb(19, 30, 48);
$main-color: rgb(19, 30, 48);
$dark-main-color: rgb(45, 69, 115);
$text-color: rgba(255, 255, 255, 0.774);

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$control-font: 'Lato',
sans-serif;

$main-font: 'Righteous',
cursive;
