/* COLOURS */

$main-color: rgb(67,105,178);
$light-main-color: rgb(85, 134, 226);
$dark-main-color: rgb(45, 69, 115);
$text-color: rgb(255, 255, 255);

/* FONTS */

@import url('https://fonts.cdnfonts.com/css/gill-sans-std');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$control-font: 'Lato', sans-serif;
$main-font:  'Gill Sans Std', sans-serif;
