/* stylelint-disable at-rule-no-unknown */
@use './assets/variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$main-color;
  display: flex;
  flex-direction: column;
  font-family: vars.$main-font;
  color: vars.$text-color;
  font-size: 2rem;
  font-weight: 800;
  min-height: 100%;
  background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
}

.wrapper {
  min-height: 100%;
  max-width: 768px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: vars.$main-color;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.react-ripples {
  width: 100% !important;
}

.error-text {
  padding: 5rem;
}
